

/*    Text Styles     */ 

html { font-size: $doc-text-size; } 

body { 
	font-family: $main-text-font;
	color: $main-text-color;
	font-size: 14px; 
	font-size: 1.4rem; 
}

h1, h2, h3, h4, h5, h6 {
	color: $heading-text-color;
	font-weight: bold;
	margin: 0 0 1em 0;
}

h1 {	
	font-size: 24px; font-size: 2.4rem;  /* =24px */
}
h2 { 
	font-size: 22px; font-size: 2.2rem;  /* =22px */
}
h3 {
	font-size: 20px; font-size: 2rem;  /* =20px */
}
h4 {
	font-size: 18px; font-size: 1.8rem;  /* =18px */
}
h5 {
	font-size: 16px; font-size: 1.6rem;  /* =16px */
}
h6 { 
	font-size: 14px; font-size: 1.4rem;  /* =14px */
}

p, li { 	
	font-size: 14px; font-size: 1.4rem;  /* =14px */
	margin: 0 0 1em 0;
}


em { 
	color: $emphasis-text-color;
}

strong { 
	font-weight: bold;
}

a,
a:hover {
	color: $link-color;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

