

/*    Text Styles     */ 

body { 
}

p { 
	color: $main-text-color;
}


em { 
	color: $emphasis-text-color;
}

strong { 

}

h1, h2, h3, h4, h5, h6 {
	color: $heading-text-color;
}

h1 {	
	
}
h2 { 

}
h3 {
	
}
h4 {
	
}
h5 {
	
}
h6 { 

}