ul.main-nav {
	margin: 20px 0;
	overflow: hidden;
	li {
		float: left;
		margin: 0 20px 0 0;
		font-size: 1.1em;
		a {
			font-style: italic;
		}
	}
}

@media screen and (max-width : 480px) {
	ul.main-nav {
		width: 100%;
		li {
			float: none;
			display: block;
			a {
				display: block;
			}
		}
	}		
}